<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UXCategoryRows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E720EC11DBA493100A0889E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E720ED51DBA493100A0889E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E720EE01DBA493100A0889E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
